USE [master]
GO
/****** Object:  Database [ProRecruit_Final]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE DATABASE [ProRecruit_Final]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProRecruit_Final', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProRecruit_Final.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProRecruit_Final_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProRecruit_Final_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProRecruit_Final].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProRecruit_Final]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Type] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Candidate]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Candidate](
	[FirstName] [nvarchar](30) NULL,
	[LastName] [nvarchar](30) NULL,
	[Email] [nvarchar](30) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Gender] [nvarchar](30) NOT NULL,
	[MaritalStatus] [nvarchar](30) NULL,
	[Nationality] [nvarchar](30) NULL,
	[City] [nvarchar](30) NULL,
	[CNIC] [nvarchar](30) NOT NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[Contact] [nvarchar](30) NULL,
	[Industry] [nvarchar](30) NULL,
	[FunctionalArea] [nvarchar](30) NULL,
	[CurrentSalary] [nvarchar](30) NULL,
	[ExpectedSalary] [nvarchar](30) NULL,
	[CarreerLevel] [nvarchar](30) NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Summary] [nvarchar](max) NULL,
 CONSTRAINT [PK_Candidate] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateCertifications]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateCertifications](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[CertificationTitle] [nvarchar](50) NULL,
	[CertificationDescription] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateExperience]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateExperience](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[OrganizationName] [nvarchar](30) NOT NULL,
	[PositionHeld] [nvarchar](50) NOT NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateJob]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateJob](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[JobId] [int] NULL,
	[DateApplied] [datetime] NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateLanguages]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateLanguages](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[LanguageTitle] [nvarchar](50) NULL,
	[ProficiencyWithLanguage] [nvarchar](50) NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateProjects]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateProjects](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[ProjectTitle] [nvarchar](50) NULL,
	[ProjectDescription] [nvarchar](max) NULL,
	[URL] [nvarchar](max) NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateQualification]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateQualification](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[QualificationId] [int] NOT NULL,
	[Institute] [nvarchar](50) NOT NULL,
	[DateCompleted] [datetime] NULL,
	[DegreeLevel] [nvarchar](50) NULL,
	[DegreeType] [nvarchar](50) NULL,
	[Degreetitle] [nvarchar](50) NULL,
	[MajorSubjects] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Institution] [nvarchar](50) NULL,
	[CompletionYear] [nvarchar](50) NULL,
	[ResultType] [nvarchar](50) NULL,
	[TotalGPA] [nvarchar](50) NULL,
	[TotalGrade] [nvarchar](50) NULL,
	[TotalPercentage] [nvarchar](50) NULL,
	[YourGPA] [nvarchar](50) NULL,
	[UserId] [nvarchar](128) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CandidateSkills]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CandidateSkills](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[SkillId] [int] NOT NULL,
	[ExperienceWithSkill] [nvarchar](50) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_CandidateSkills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Job]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[DatePublished] [datetime] NULL,
	[DateApplyBy] [datetime] NULL,
	[Title] [nvarchar](50) NULL,
	[JobDescription] [nvarchar](max) NULL,
	[Location] [nvarchar](50) NULL,
	[SalaryRange] [nvarchar](30) NULL,
	[FunctionalArea] [nvarchar](50) NULL,
	[JobShift] [nvarchar](20) NULL,
	[Gender] [nvarchar](10) NULL,
	[ReqYearsOfExp] [nvarchar](30) NULL,
	[AgeRequirement] [nvarchar](20) NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Id] [int] NOT NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobQualification]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobQualification](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[QualificationId] [int] NULL,
	[DegreeLevel] [nvarchar](50) NULL,
	[DegreeType] [nvarchar](50) NULL,
	[DegreeTitle] [nvarchar](50) NULL,
	[MajorSubject] [nvarchar](50) NULL,
	[Location] [nvarchar](50) NULL,
	[Institution] [nvarchar](50) NULL,
	[CompletionYear] [nvarchar](50) NULL,
	[ResultType] [nvarchar](50) NULL,
	[TotalGPA] [nvarchar](50) NULL,
	[TotalPercentage] [nvarchar](50) NULL,
	[TotalGrade] [nvarchar](50) NULL,
	[YourGPA] [nvarchar](50) NULL,
 CONSTRAINT [PK_JobQualification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobSkills]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobSkills](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[JobId] [int] NOT NULL,
	[SkillId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Organization]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organization](
	[UserId] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](30) NULL,
	[Industry] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](50) NULL,
	[Phonenumber] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[NoOfEmployee] [nvarchar](50) NULL,
	[OperatingSince] [nvarchar](50) NULL,
	[StockSymbol] [nvarchar](50) NULL,
	[CompanyLogo] [nvarchar](50) NULL,
	[PostedJobs] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Organization] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Qualification]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Qualification](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[QualificationName] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Skill]    Script Date: 18-Mar-18 9:11:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skill](
	[Id] [int] IDENTITY(100,1) NOT NULL,
	[SkillName] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Type]) VALUES (N'4d2980a7-c2a4-4331-a745-4f68215f6907', N'hamzaws99@gmail.com', 0, N'AJbAWfXRNzK7wLR8ip+jv1DDvteUZLVexgsj1n4d+xzlxasm6xTVFyWbMgLQ4PkGAg==', N'cdedba6b-d958-4763-858a-b076f1fae367', NULL, 0, 0, NULL, 1, 0, N'hamzaws99@gmail.com', N'Candidate')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Type]) VALUES (N'8e931e6f-ba64-4316-8a90-25a0143547ac', N'zainalikhan2504@gmail.com', 0, N'AK/XSaQozdISY9SEnnHMeUSFgxRZ44sQzMXxGnfV5T+R8QopbVs/dOn5sgx+M0o2HA==', N'b0df20c2-c596-4896-9dfa-a9230a08b216', NULL, 0, 0, NULL, 1, 0, N'zainalikhan2504@gmail.com', N'Candidate')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Type]) VALUES (N'c84c5bb7-2920-4e9b-bceb-6c6f8b5f7689', N'hamzaws9@gmail.com', 0, N'AKX5pCSHWzf89Bay0+vzj695t5aV8YAYjqOxFZljuk2EQJ/OmG0u7nj5qserizUtww==', N'88707794-0d04-4703-8388-c12c7d80d5a5', NULL, 0, 0, NULL, 1, 0, N'hamzaws9@gmail.com', N'Organization')
INSERT [dbo].[Candidate] ([FirstName], [LastName], [Email], [DateOfBirth], [Gender], [MaritalStatus], [Nationality], [City], [CNIC], [CurrentAddress], [Contact], [Industry], [FunctionalArea], [CurrentSalary], [ExpectedSalary], [CarreerLevel], [UserId], [Summary]) VALUES (N'Hamza', N'Bin Wasi', N'hamzaws99@gmail.com', CAST(N'1996-04-03 00:00:00.000' AS DateTime), N'Male', N'Unmarried', N'Pakistani', N'Karachi', N'42201-2579042-5', N'Karachi', N'03002216803', N'IT', N'IT', N'10000', N'10000', N'Fresh', N'4d2980a7-c2a4-4331-a745-4f68215f6907', NULL)
INSERT [dbo].[Candidate] ([FirstName], [LastName], [Email], [DateOfBirth], [Gender], [MaritalStatus], [Nationality], [City], [CNIC], [CurrentAddress], [Contact], [Industry], [FunctionalArea], [CurrentSalary], [ExpectedSalary], [CarreerLevel], [UserId], [Summary]) VALUES (N'Zain', N'Khan', N'zainalikhan2504@gmail.com', CAST(N'1996-04-25 00:00:00.000' AS DateTime), N'Male', N'Single', N'Pakistani', N'Karachi', N'42201-2579042-5', N'FB Area', N'03002216803', N'IT', N'IT', N'10000', N'10000', N'Fresh', N'8e931e6f-ba64-4316-8a90-25a0143547ac', N'This is my profile summary')
SET IDENTITY_INSERT [dbo].[CandidateCertifications] ON 

INSERT [dbo].[CandidateCertifications] ([Id], [CertificationTitle], [CertificationDescription], [UserId]) VALUES (100, N'MongoDB', N'Certified MongoDB', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
SET IDENTITY_INSERT [dbo].[CandidateCertifications] OFF
SET IDENTITY_INSERT [dbo].[CandidateExperience] ON 

INSERT [dbo].[CandidateExperience] ([Id], [OrganizationName], [PositionHeld], [FromDate], [ToDate], [Country], [City], [UserId]) VALUES (100, N'Colgate Palmolive', N'Intern', CAST(N'2017-08-01 00:00:00.000' AS DateTime), CAST(N'2017-10-01 00:00:00.000' AS DateTime), N'Pakistan', N'Karachi', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
SET IDENTITY_INSERT [dbo].[CandidateExperience] OFF
SET IDENTITY_INSERT [dbo].[CandidateJob] ON 

INSERT [dbo].[CandidateJob] ([Id], [JobId], [DateApplied], [UserId]) VALUES (100, 0, CAST(N'2018-03-17 13:13:38.323' AS DateTime), N'4d2980a7-c2a4-4331-a745-4f68215f6907')
INSERT [dbo].[CandidateJob] ([Id], [JobId], [DateApplied], [UserId]) VALUES (101, 0, CAST(N'2018-03-17 17:38:37.080' AS DateTime), N'8e931e6f-ba64-4316-8a90-25a0143547ac')
SET IDENTITY_INSERT [dbo].[CandidateJob] OFF
SET IDENTITY_INSERT [dbo].[CandidateLanguages] ON 

INSERT [dbo].[CandidateLanguages] ([Id], [LanguageTitle], [ProficiencyWithLanguage], [UserId]) VALUES (100, N'English', N'Great', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
INSERT [dbo].[CandidateLanguages] ([Id], [LanguageTitle], [ProficiencyWithLanguage], [UserId]) VALUES (101, N'Urdu', N'Great', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
SET IDENTITY_INSERT [dbo].[CandidateLanguages] OFF
SET IDENTITY_INSERT [dbo].[CandidateQualification] ON 

INSERT [dbo].[CandidateQualification] ([Id], [QualificationId], [Institute], [DateCompleted], [DegreeLevel], [DegreeType], [Degreetitle], [MajorSubjects], [Country], [City], [Institution], [CompletionYear], [ResultType], [TotalGPA], [TotalGrade], [TotalPercentage], [YourGPA], [UserId]) VALUES (100, 1107, N'Bahria University', CAST(N'2201-10-10 00:00:00.000' AS DateTime), N'Bachelors', N'A', N'A', N'A', NULL, N'Karachi', N'A', N'A', N'A', N'A', N'A', N'A', N'A', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
SET IDENTITY_INSERT [dbo].[CandidateQualification] OFF
SET IDENTITY_INSERT [dbo].[CandidateSkills] ON 

INSERT [dbo].[CandidateSkills] ([Id], [SkillId], [ExperienceWithSkill], [UserId]) VALUES (100, 103, N'2 Years', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
INSERT [dbo].[CandidateSkills] ([Id], [SkillId], [ExperienceWithSkill], [UserId]) VALUES (101, 105, N'4 Years', N'4d2980a7-c2a4-4331-a745-4f68215f6907')
SET IDENTITY_INSERT [dbo].[CandidateSkills] OFF
INSERT [dbo].[Job] ([DatePublished], [DateApplyBy], [Title], [JobDescription], [Location], [SalaryRange], [FunctionalArea], [JobShift], [Gender], [ReqYearsOfExp], [AgeRequirement], [UserId], [Id]) VALUES (NULL, NULL, N'Blowjob', N'Sloppy', N'Karachi', N'500', N'HR', N'Night', N'Male', N'None', N'18+', N'c84c5bb7-2920-4e9b-bceb-6c6f8b5f7689', 0)
SET IDENTITY_INSERT [dbo].[JobQualification] ON 

INSERT [dbo].[JobQualification] ([Id], [JobId], [QualificationId], [DegreeLevel], [DegreeType], [DegreeTitle], [MajorSubject], [Location], [Institution], [CompletionYear], [ResultType], [TotalGPA], [TotalPercentage], [TotalGrade], [YourGPA]) VALUES (100, 0, 1107, N'Bachelors', N'Blah', N'Blah', N'Blah', N'Karachi', N'Bahria', N'2018', N'GPA', N'3.5', N'A', N'1', N'3.1')
INSERT [dbo].[JobQualification] ([Id], [JobId], [QualificationId], [DegreeLevel], [DegreeType], [DegreeTitle], [MajorSubject], [Location], [Institution], [CompletionYear], [ResultType], [TotalGPA], [TotalPercentage], [TotalGrade], [YourGPA]) VALUES (101, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[JobQualification] OFF
SET IDENTITY_INSERT [dbo].[JobSkills] ON 

INSERT [dbo].[JobSkills] ([Id], [JobId], [SkillId]) VALUES (100, 0, 102)
INSERT [dbo].[JobSkills] ([Id], [JobId], [SkillId]) VALUES (101, 0, 103)
SET IDENTITY_INSERT [dbo].[JobSkills] OFF
INSERT [dbo].[Organization] ([UserId], [Name], [Industry], [ContactPerson], [Phonenumber], [Fax], [NoOfEmployee], [OperatingSince], [StockSymbol], [CompanyLogo], [PostedJobs], [Email]) VALUES (N'c84c5bb7-2920-4e9b-bceb-6c6f8b5f7689', N'ProRecruit', N'IT', N'Hamza Bin Wasi', N'03002216803', NULL, N'50', N'2017', N'PRT', NULL, NULL, N'hamzaws9@gmail.com')
SET IDENTITY_INSERT [dbo].[Qualification] ON 

INSERT [dbo].[Qualification] ([Id], [QualificationName]) VALUES (1107, N'Bachelors of Electrical Engineering')
INSERT [dbo].[Qualification] ([Id], [QualificationName]) VALUES (1108, N'Bachelors of Software Engineering')
INSERT [dbo].[Qualification] ([Id], [QualificationName]) VALUES (1109, N'Bachelors of Computer Engineering')
SET IDENTITY_INSERT [dbo].[Qualification] OFF
SET IDENTITY_INSERT [dbo].[Skill] ON 

INSERT [dbo].[Skill] ([Id], [SkillName]) VALUES (102, N'iOS')
INSERT [dbo].[Skill] ([Id], [SkillName]) VALUES (103, N'.Net MVC')
INSERT [dbo].[Skill] ([Id], [SkillName]) VALUES (104, N'.Net Web Forms')
SET IDENTITY_INSERT [dbo].[Skill] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 18-Mar-18 9:11:18 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Candidate]  WITH CHECK ADD  CONSTRAINT [FK_Candidate_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Candidate] CHECK CONSTRAINT [FK_Candidate_AspNetUsers]
GO
ALTER TABLE [dbo].[CandidateCertifications]  WITH CHECK ADD  CONSTRAINT [FK_CandidateCertifications_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateCertifications] CHECK CONSTRAINT [FK_CandidateCertifications_Candidate]
GO
ALTER TABLE [dbo].[CandidateExperience]  WITH CHECK ADD  CONSTRAINT [FK_CandidateExperience_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateExperience] CHECK CONSTRAINT [FK_CandidateExperience_Candidate]
GO
ALTER TABLE [dbo].[CandidateJob]  WITH CHECK ADD  CONSTRAINT [FK_CandidateJob_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateJob] CHECK CONSTRAINT [FK_CandidateJob_Candidate]
GO
ALTER TABLE [dbo].[CandidateJob]  WITH CHECK ADD  CONSTRAINT [FK_CandidateJob_Job] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[CandidateJob] CHECK CONSTRAINT [FK_CandidateJob_Job]
GO
ALTER TABLE [dbo].[CandidateLanguages]  WITH CHECK ADD  CONSTRAINT [FK_CandidateLanguages_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateLanguages] CHECK CONSTRAINT [FK_CandidateLanguages_Candidate]
GO
ALTER TABLE [dbo].[CandidateProjects]  WITH CHECK ADD  CONSTRAINT [FK_CandidateProjects_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateProjects] CHECK CONSTRAINT [FK_CandidateProjects_Candidate]
GO
ALTER TABLE [dbo].[CandidateQualification]  WITH CHECK ADD  CONSTRAINT [FK_CandidateQualification_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateQualification] CHECK CONSTRAINT [FK_CandidateQualification_Candidate]
GO
ALTER TABLE [dbo].[CandidateQualification]  WITH CHECK ADD  CONSTRAINT [FK_CandidateQualification_Qualification] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([Id])
GO
ALTER TABLE [dbo].[CandidateQualification] CHECK CONSTRAINT [FK_CandidateQualification_Qualification]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [CandidateSkills_SkillId_FK] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([Id])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [CandidateSkills_SkillId_FK]
GO
ALTER TABLE [dbo].[CandidateSkills]  WITH CHECK ADD  CONSTRAINT [FK_CandidateSkills_Candidate] FOREIGN KEY([UserId])
REFERENCES [dbo].[Candidate] ([UserId])
GO
ALTER TABLE [dbo].[CandidateSkills] CHECK CONSTRAINT [FK_CandidateSkills_Candidate]
GO
ALTER TABLE [dbo].[Job]  WITH CHECK ADD  CONSTRAINT [FK_Job_Organization1] FOREIGN KEY([UserId])
REFERENCES [dbo].[Organization] ([UserId])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [FK_Job_Organization1]
GO
ALTER TABLE [dbo].[JobQualification]  WITH CHECK ADD  CONSTRAINT [FK_JobQualification_Job1] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[JobQualification] CHECK CONSTRAINT [FK_JobQualification_Job1]
GO
ALTER TABLE [dbo].[JobQualification]  WITH CHECK ADD  CONSTRAINT [FK_JobQualification_Qualification] FOREIGN KEY([QualificationId])
REFERENCES [dbo].[Qualification] ([Id])
GO
ALTER TABLE [dbo].[JobQualification] CHECK CONSTRAINT [FK_JobQualification_Qualification]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Job] FOREIGN KEY([JobId])
REFERENCES [dbo].[Job] ([Id])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Job]
GO
ALTER TABLE [dbo].[JobSkills]  WITH CHECK ADD  CONSTRAINT [FK_JobSkills_Skill] FOREIGN KEY([SkillId])
REFERENCES [dbo].[Skill] ([Id])
GO
ALTER TABLE [dbo].[JobSkills] CHECK CONSTRAINT [FK_JobSkills_Skill]
GO
ALTER TABLE [dbo].[Organization]  WITH CHECK ADD  CONSTRAINT [FK_Organization_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Organization] CHECK CONSTRAINT [FK_Organization_AspNetUsers]
GO
USE [master]
GO
