@model IEnumerable<ProRecruit.JobSkill>

@{
    ViewBag.Title = "SkillMulitpleView";
}

<h2>Your Skills</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Skill.SkillName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.SkillName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

